*{
  margin: 0;
  padding: 0;
}
.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
